/* Style Général */
body{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 24px;
}

.black{
    font-weight: 900;
}

.bold{
    font-weight: bold;
}

/* Style des boutons */

.btn-primary{
    background-color: #FFBD81;
    border-color: #FFBD81;
    border-radius: 15px;
}

.btn-primary:hover{
    background-color: #3C2569;
    border-color: #3C2569;
}

.btn-secondary{
    background: linear-gradient(230deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    border-color: white;
    border-radius: 25px;
    margin-right: 10px;
}

.btn-secondary:hover{
    background: #FFBD81;
    background-color: #FFBD81;
    border-color: #FFBD81;
}

.btn-secondary:focus{
    background: linear-gradient(230deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    border-color: white;
    outline: none;
    box-shadow:none !important;
}

.btn-light{
    border-radius: 25px;
    color: #3C2569;
    font-weight: bold;
    background-color: #fff;
    margin-right: 10px;
}

.btn-light:hover{
    color: #3C2569;
}

.alert-primary{
    width: 95%;
    margin: 20px;
    color: #3C2569;
    background-color: rgb(255, 215, 179);
    border-color: #FFBD81;
}

/* Partie 1 : Bandeau Formulaire */

.conteneur{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px 10px 5px;
}

#bandeau_formulaire{
    background: linear-gradient(230deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    color: #fff;
    padding-top: 20px;
}

#bandeau_formulaire h2{
    font-size: 44px;
    font-weight: 900;
}

/* Partie 2 : Recherche et Ajout de groupe  */
#structureRecherche{
    width: 80%;
    margin: 20px auto 20px auto;
    background: linear-gradient(230deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    color: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#structureBtnCreerGroupe{
    width: 95%;
    margin: 10px auto;
    text-align: center;
    background: #DF3262;
    color: #fff;
    padding: 4vh 20px 4vh 20px;
    border-radius: 15px;
    font-size: 18px;
    transition-property: margin;
    transition-duration: 1s;
    transition-delay: 0s;
    display : none;  
}

#structureBtnCreerGroupe:hover{
    background : #FFBD81;
    cursor: pointer;
}

#structureBtnRetour{
    width: fit-content;
    margin: 20px auto 20px 20px;
    background: linear-gradient(230deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    color: #fff;
    padding: 20px 20px 5px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 18px;
    transition-property: margin;
    transition-duration: 1s;
    transition-delay: 0s;
    display: none;
}

#structureBtnRetour:hover{
    margin: 20px auto 20px 30px;
    cursor: pointer;
}

#structureBtnRetour h4{
    font-size: 18px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background: none;
    border: none;
    border-radius: 0px;
    border-bottom: #fff solid 2px;
    color: #fff;
}

.has-search .form-control:focus {
    outline: none;
    box-shadow:none !important;
}

.has-search .form-control::placeholder {
    color: #fff;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #fff;
}

/* Partie 4 : Affichage des résultats (projets)  */

#resultats, #rappelProjet{
    color: #5C5C5C;
    font-size: 18px;
    text-align: justify;
}

#resultats h2, #rappelProjet h2{
    color: #3C2569;
    font-size: 24px;
}

.boiteResultat.termine h2{
    color: #5C5C5C !important;
}

.boiteResultat{
    position: relative;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid transparent;
    background: #fff;
    background-clip: padding-box;
    border-radius: 15px;  
}

.boiteResultat::after{
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background: linear-gradient(180deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    content: '';
    z-index: -1;
    border-radius: 15px;
}

.boiteResultat.termine::after{
    background: #5C5C5C;  
}

i.icon{
    background-color: #FFBD81;
    color: #fff;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    padding: 11px 7px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.boiteResultat.termine .icon{
    background-color: #5C5C5C;  
}

/* Partie 4 bis : Affichage des résultats (groupes) */

.boiteGroupe{
    position: relative;
    width: 95%;
    margin: 10px auto;
    padding: 10px 10px 10px 25px;
    background: #FAB87C;
    background-clip: padding-box;
    border-radius: 15px;
    color: #fff; 
}

.boiteGroupe.complet{
    background: #3C2569;
}

.boiteGroupe h2{
    color: #fff !important; 
}

.circle{
    background-color: #fff;
    color: #3C2569;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
}

/* Partie 5 : Filtres de recherche  */

#formFiltreProjets label, #formFiltreGroupes label{
    color: #5C5C5C;
}

.form-check{
    padding-bottom: 10px;
    padding-left: 0;
}

.label-to-bold-if-checked:checked + .label-check {
    font-weight: bold;
}

input[type=radio]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.pastilles {
    margin: 6px;
}

.pastilles input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
.pastilles label {
    display: inline-block;
    padding: 8px 11px;
    font-size: 20px;
    border: 1px solid #5C5C5C;
    border-radius:50%;
}

.pastilles label:hover {
    background-color:#FFBD81;
}

.pastilles input[type="radio"]:checked + label {
    background: linear-gradient(180deg, #3C2569 0%, #DF3262 50%, #FFBD81 100%);
    border-color: #fff;
    color: #fff !important;
}

#filtreGroupes{
    display: none;
}





@media only screen and (max-width: 1200px) {
    .conteneur{
        width: 100%;
    }
}

/* Version Tablette  */
@media only screen and (max-width: 768px) {
    #bandeau_formulaire h2{
        font-size: 30px;
    }
}


/* Version Mobile  */
@media only screen and (max-width: 576px) {
    #bandeau_formulaire h2{
        font-size: 30px;
    }

    #structureRecherche{
        width: 95%;
    }
  }

